# Lab 4: Data Wrangling [Total: 5 Points]

## Instructions

The purpose of this assignment is for you to practice with common data wrangling operations, such as converting from long to wide format, merging, reshaping, and aggregating data frames. You will carry out this task in the present notebook, and use the notebook to document the various steps of the exercise and to answer all questions.

You will be working with a dataset describing orders made by customers. We have created a number of datasets for the purpose. A data dictionary listing all columns and their meaning is provided below. Follow the instructions in each question, and answer the accompanying questions. Note that some of the questions will require you to write a Python function to compute the correct answer.

<div class="alert alert-info">
To grade your submission we will run your code into the autograder. The autograder will compare the value returned by your function (i.e. the student's answer) against the correct answer. The autograder code itself is not included in this notebook, so double check that your code works correctly before submitting.
</div>

## Required skills

This lab will let you practice the following skills:
- Converting from long to wide
- Merging data frames
- Reshaping data frames
- Aggregating data frames

Before you start working on it, review Chapter 3 (p. 141‒157) of the textbook and/or the notebooks posted on ELMS under "Data Wrangling module".


## Table of Contents
<ul>
    <li><a href="#Data-dictionary">Data dictionary</a></li>
    <li><a href="#Submission-checklist">Submission checklist</a> [1 point]</li>
    <li><a href="#Q1">Question 1</a> [1 point]</li>
    <li><a href="#Q2">Question 2</a> [1 point]</li>
    <li><a href="#Q3">Question 3</a> [1 point]</li>
    <li><a href="#Q4">Question 4</a> [1 point]</li>
    <li><a href="#Q5">Question 5</a> [1 point]</li>
</ul>

## Data dictionary

This LAB includes multiple data files about an e-commerce website and grocery store, each corresponding to a different pandas table/data frame.

### File `orders.csv`

Each row in this table represents an order made by a particular customer. An order may contain multiple products.
- `order_id` &ndash; Unique order identifier;
- `user_id` &ndash; Unique user identifier;
- `order_number` &ndash; Order number (how many times a particular user has ordered using this service);
- `order_dow` &ndash; Day of week of the order (`0` &ndash; Monday &#8230; `6` &ndash; Sunday);
- `order_hour_of_day` &ndash; Hour of the day the order was placed;
- `days_since_prior_order` &ndash; Number of days since the user's previous order;

### File `products.csv`

Each row in this table represents a product in the store's inventory.
- `product_id` &ndash; Product ID (unique identifier for each product);
- `product_name` &ndash; Product name;
- `aisle_id` &ndash; Aisle ID (unique identifier for each aisle);
- `department_id` &ndash; Department ID (unique identifier for each department);

### File `order_products.csv` 

Each row in this table information about a particular product that is part of an order.
- `order_id` &ndash; Unique order identifier;
- `product_id` &ndash; Product ID (Unique identifier for each product);
- `add_to_cart_order` &ndash; Order in which product was added to cart;
- `reordered` &ndash; Was the item reordered?

### File `OrganicAisle.csv`

Each row in this table contains information about a particular aisle. Only organic products are included in this table.
- `aisle_id` &ndash; Aisle ID (unique identifier for each aisle);
- `num_items` &ndash; Number of items ordered;
- `aisle` &ndash; Aisle name;

### File `ConventionalAisle.csv`
Each row in this table contains information about a particular aisle. Only conventional products are included in this table.
- `aisle_id` &ndash; Aisle ID (Unique identifier for each aisle);
- `num_items` &ndash; Number of items ordered;
- `aisle` &ndash; Aisle name.

## Submission checklist

**Points**: 1

Before submitting make sure that:

1. Your name is included above, plus the name of any collaborator you worked with;
2. All Markdown cells you edited are rendering correctly, especially the ones with answers.
3. You have removed any `raise NotImplementedError()` line from your code cells.

## Q1 

**Points**: 1

Write a function to called `busiest_dow` that returns the day of the week with most orders.

Your function should not take any parameter. It should load the appropriate file for this task into a data frame and it should return a Python integer (type `int`, other types like `int64` are not acceptable) between 0 (Monday) and 6 (Sunday).

In [112]:
import pandas as pd 
df = pd.read_csv('orders.csv')
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2281065,108077,8,6,16,14.0
1,3407099,195027,8,2,14,7.0
2,2106016,94462,2,0,18,29.0
3,1222212,141637,66,2,13,4.0
4,2571664,119478,28,1,8,6.0

In [119]:
import pandas as pd 

def busiest_dow():
    ### BEGIN SOLUTION
    df = pd.read_csv('orders.csv')
    daily_freq = df['order_dow'].value_counts()
    return int(daily_freq.index[0])
    ### END SOLUTION

Use the cell below to run your function and see what it returns

In [120]:
busiest_dow()

0

In [44]:
import pandas as pd
q1STUDENT_ANS = busiest_dow()
q1CORRECT_ANS = 0

# Function should return int
assert type(q1STUDENT_ANS) == int, f"Error: Your solution returned a {type(q1STUDENT_ANS)} while it should return an int"

# Function should return correct value
assert q1STUDENT_ANS == q1CORRECT_ANS, f"Error: Your solution returned {q1STUDENT_ANS}. Correct answer: {q1CORRECT_ANS}"
print("All tests passed! 👍")

All tests passed! 👍

## Q2

**Points**: 1

Write a function called `items_per_order` that returns the number of items in each order.

Your function should not take any parameter. It should load the appropriate data file and it should return a pandas data frame, indexed by order ID, with the result stored in a column named `num_items`.

_**Hint**: this question requires to combine multiple datasets together before you can compute the aggregate column. Also, to rename a column after using groupby you can either use the `.rename()` method from the DataFrame class or the [Named Aggregation](https://pandas.pydata.org/docs/user_guide/groupby.html#named-aggregation) special syntax directly._

The resulting data frame should have exactly 5,000 rows. This is what the top 5 rows should look like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>num_items</th>
    </tr>
    <tr>
      <th>order_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>657</th>
      <td>19</td>
    </tr>
    <tr>
      <th>2203</th>
      <td>29</td>
    </tr>
    <tr>
      <th>2255</th>
      <td>12</td>
    </tr>
    <tr>
      <th>2654</th>
      <td>2</td>
    </tr>
    <tr>
      <th>2755</th>
      <td>4</td>
    </tr>
  </tbody>
</table>

and these are the bottom 5:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>num_items</th>
    </tr>
    <tr>
      <th>order_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3417262</th>
      <td>11</td>
    </tr>
    <tr>
      <th>3417499</th>
      <td>16</td>
    </tr>
    <tr>
      <th>3418430</th>
      <td>4</td>
    </tr>
    <tr>
      <th>3419803</th>
      <td>16</td>
    </tr>
    <tr>
      <th>3420412</th>
      <td>4</td>
    </tr>
  </tbody>
</table>

In [127]:
import pandas as pd

def items_per_order():
    ### BEGIN SOLUTION
    df_orders = pd.read_csv('orders.csv')
    df_order_products = pd.read_csv('order_products.csv')
    df_merged = pd.merge(df_orders, df_order_products)
    num_items = df_merged.groupby('order_id').aggregate(num_items=('product_id', 'size'))
    return num_items
    ### END SOLUTION

Use the cell below to run your function and see what it returns

In [110]:
items_per_order()

          num_items
order_id
657              19
2203             29
2255             12
2654              2
2755              4
...             ...
3417262          11
3417499          16
3418430           4
3419803          16
3420412           4

[5000 rows x 1 columns]

In [111]:
from pandas.testing import assert_frame_equal

q2CORRECT_ANSWER = pd.read_csv(".solutionq2.csv", index_col=0)
q2STUDENT_ANSWER = items_per_order()

# Function should return a DataFrame
assert type(q2STUDENT_ANSWER) is pd.DataFrame, f"Error: expected DataFrame, got {type(q2STUDENT_ANSWER)} instead."

# Return value should match solution
try:
    assert_frame_equal(q2STUDENT_ANSWER, q2CORRECT_ANSWER)
    #if no test failed, print
    print("All tests passed! 👍")
except AssertionError:
    print("Error: your solution does not match the correct one. See above for mismatching entries.")
    print()
    idx = q2STUDENT_ANSWER != q2CORRECT_ANSWER
    print("Mismatching entries")
    print("===================")
    print()
    print("Correct: ")
    print(q2CORRECT_ANSWER[idx])
    print()
    print("Student:")
    print(q2STUDENT_ANSWER[idx])

All tests passed! 👍

## Q3

**Points**: 1

Write a function called `avg_orders_by_dow` that returns the average number of orders (rounded to two decimals) for each day of the week.

Your function should not take any parameter. It should load the appropriate file(s) for this task into a data frame and it should return a pandas data frame, indexed by the day of the week, and with a column named `avg_orders`.

_**Hint**:  This question builds upon the previous one. To store the number of items into the orders data frame, make sure that to use the [.set_index()](https://pandas.pydata.org/docs/user_guide/indexing.html#set-reset-index) method on the Order ID column, otherwise you will get NaN._

This is what the data frame should look like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>avg_orders</th>
    </tr>
    <tr>
      <th>order_dow</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11.15</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.39</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9.47</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9.21</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9.58</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9.66</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11.25</td>
    </tr>
  </tbody>
</table>

In [125]:
import pandas as pd

def avg_orders_by_dow():
    ### BEGIN SOLUTION
    df_orders = pd.read_csv('orders.csv')
    df_order_products = pd.read_csv('order_products.csv')
    df_merged = pd.merge(df_orders, df_order_products)
    num_items = df_merged.groupby('order_id').aggregate(num_items=('product_id', 'size'))
    df_orders.set_index('order_id', inplace=True)
    df_orders['num_items'] = num_items
    return (df_orders
            .groupby("order_dow")
            .aggregate({'num_items': 'mean'})
            .round(2)
            .rename(columns={'num_items': 'avg_orders'})
           )
    ### END SOLUTION

Use the cell below to run your function and see what it returns

In [126]:
avg_orders_by_dow()

           avg_orders
order_dow
0               11.15
1               10.39
2                9.47
3                9.21
4                9.58
5                9.66
6               11.25

In [61]:
from pandas.testing import assert_frame_equal

q3CORRECT_ANSWER = pd.read_csv(".solutionq3.csv", index_col=0)
q3STUDENT_ANSWER = avg_orders_by_dow()

# Function should return a DataFrame
assert type(q3STUDENT_ANSWER) is pd.DataFrame, f"Error: expected DataFrame, got {type(q3STUDENT_ANSWER)} instead."

# Return value should match solution
try:
    assert_frame_equal(q3STUDENT_ANSWER, q3CORRECT_ANSWER)
    #if no test failed, print
    print("All tests passed! 👍")
except AssertionError:
    print("Error: your solution does not match the correct one. See above for mismatching entries.")
    print()
    idx = q3STUDENT_ANSWER != q3CORRECT_ANSWER
    print("Mismatching entries")
    print("===================")
    print()
    print("Correct: ")
    print(q3CORRECT_ANSWER[idx])
    print()
    print("Student:")
    print(q3STUDENT_ANSWER[idx])

All tests passed! 👍

## Q4

**Points**: 1

Write a function to select only organic aisles that have exactly 1 item only.

Your function should not take any parameter. It should load the appropriate file for this task into a data frame and it should return a pandas data frame.

This is what the data frame should look like:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aisle_id</th>
      <th>num_items</th>
      <th>aisle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>40</th>
      <td>44</td>
      <td>1</td>
      <td>eye ear care</td>
    </tr>
    <tr>
      <th>77</th>
      <td>87</td>
      <td>1</td>
      <td>more household</td>
    </tr>
    <tr>
      <th>113</th>
      <td>124</td>
      <td>1</td>
      <td>spirits</td>
    </tr>
  </tbody>
</table>

In [8]:
import pandas as pd

def single_item_organic():
    ### BEGIN SOLUTION
    df = pd.read_csv('OrganicAisle.csv')
    return df[df['num_items'] == 1]
    ### END SOLUTION

Use the cell below to run your function and see what it returns

In [63]:
single_item_organic()

     aisle_id  num_items           aisle
40         44          1    eye ear care
77         87          1  more household
113       124          1         spirits

In [64]:
from pandas.testing import assert_frame_equal

q4CORRECT_ANSWER = pd.read_csv(".solutionq4.csv", index_col=0)
q4STUDENT_ANSWER = single_item_organic()

# Function should return a DataFrame
assert type(q4STUDENT_ANSWER) is pd.DataFrame, f"Error: expected DataFrame, got {type(q4STUDENT_ANSWER)} instead."

# Return value should match solution
try:
    assert_frame_equal(q4STUDENT_ANSWER, q4CORRECT_ANSWER)
    #if no test failed, print
    print("All tests passed! 👍")
except AssertionError:
    print("Error: your solution does not match the correct one. See above for mismatching entries.")
    print()
    idx = q4STUDENT_ANSWER != q4CORRECT_ANSWER
    print("Mismatching entries")
    print("===================")
    print()
    print("Correct: ")
    print(q4CORRECT_ANSWER[idx])
    print()
    print("Student:")
    print(q4STUDENT_ANSWER[idx])

All tests passed! 👍

## Q5

**Points**: 1

We want to know how many aisles have both organic and conventional items. 

Write a function called `aisles_both` that combines the organic and conventional data sets into a single dataframe. 

Your function should not take any parameter. It should load the appropriate file(s) for this task into a data frame and it should return a pandas data frame.

_**Hint**: You may find it useful to use a join. Since both data frames have common column names, make sure to specify the suffixes for any column with a common name, and to drop any redundant column._

Your data frame should have exactly 123 rows. This is what the first 5 rows should look like:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aisle_id</th>
      <th>num_items_org</th>
      <th>num_items_conv</th>
      <th>aisle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>895</td>
      <td>2679</td>
      <td>prepared soups salads</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>36</td>
      <td>3801</td>
      <td>specialty cheeses</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2289</td>
      <td>15134</td>
      <td>energy granola bars</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1320</td>
      <td>8539</td>
      <td>instant foods</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>191</td>
      <td>2623</td>
      <td>marinades meat preparation</td>
    </tr>
  </tbody>
</table>

and the bottom 5 rows:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aisle_id</th>
      <th>num_items_org</th>
      <th>num_items_conv</th>
      <th>aisle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>118</th>
      <td>129</td>
      <td>496</td>
      <td>8228</td>
      <td>frozen appetizers sides</td>
    </tr>
    <tr>
      <th>119</th>
      <td>130</td>
      <td>1528</td>
      <td>4848</td>
      <td>hot cereal pancake mixes</td>
    </tr>
    <tr>
      <th>120</th>
      <td>131</td>
      <td>2613</td>
      <td>8498</td>
      <td>dry pasta</td>
    </tr>
    <tr>
      <th>121</th>
      <td>132</td>
      <td>2</td>
      <td>244</td>
      <td>beauty</td>
    </tr>
    <tr>
      <th>122</th>
      <td>133</td>
      <td>2</td>
      <td>895</td>
      <td>muscles joints pain relief</td>
    </tr>
  </tbody>
</table>

In [84]:
def aisles_both():
    ### BEGIN SOLUTION
    organic = pd.read_csv('OrganicAisle.csv')
    conventional = pd.read_csv('ConventionalAisle.csv')
    df_combined = pd.merge(organic, 
                          conventional,
                          how="inner",
                          on="aisle_id",
                          suffixes=["_org","_conv"])
    return df_combined.drop(columns=['aisle_org']).rename(columns={'aisle_conv': 'aisle'})
    ### END SOLUTION

Use the cell below to run your function and see what it returns

In [90]:
aisles_both()

     aisle_id  num_items_org  num_items_conv                       aisle
0           1            895            2679       prepared soups salads
1           2             36            3801           specialty cheeses
2           3           2289           15134         energy granola bars
3           4           1320            8539               instant foods
4           5            191            2623  marinades meat preparation
..        ...            ...             ...                         ...
118       129            496            8228     frozen appetizers sides
119       130           1528            4848    hot cereal pancake mixes
120       131           2613            8498                   dry pasta
121       132              2             244                      beauty
122       133              2             895  muscles joints pain relief

[123 rows x 4 columns]

In [89]:
from pandas.testing import assert_frame_equal

q5CORRECT_ANSWER = pd.read_csv(".solutionq5.csv", index_col=0)
q5STUDENT_ANSWER = aisles_both()

# Function should return a DataFrame
assert type(q5STUDENT_ANSWER) is pd.DataFrame, f"Error: expected DataFrame, got {type(q5STUDENT_ANSWER)} instead."

# Return value should match solution
try:
    assert_frame_equal(q5STUDENT_ANSWER, q5CORRECT_ANSWER)
    #if no test failed, print
    print("All tests passed! 👍")
except AssertionError:
    print("Error: your solution does not match the correct one. See above for mismatching entries.")
    print()
    idx = q5STUDENT_ANSWER != q5CORRECT_ANSWER
    print("Mismatching entries")
    print("===================")
    print()
    print("Correct: ")
    print(q5CORRECT_ANSWER[idx])
    print()
    print("Student:")
    print(q5STUDENT_ANSWER[idx])

All tests passed! 👍